$bookFont: Stolzl-Book;
$regularFont: Stolzl-Regular;
$thinFont: Stolzl-Thin;
$mediumFont: Stolzl-Medium;
@font-face{
    font-family: $bookFont;
    src: url(../fonts/Stolzl-Book.woff); 
}
@font-face{
    font-family: $regularFont;
    src: url(../fonts/Stolzl-Regular.woff); 
}
@font-face{
    font-family: $thinFont;
    src: url(../fonts/Stolzl-Thin.woff); 
}
@font-face{
    font-family: $mediumFont;
    src: url(../fonts/Stolzl-Medium.woff); 
}
b{
    font-family: $mediumFont;
}
*,*::after,*::before{box-sizing: border-box;}
body{
    font-family: $regularFont;
    min-width: 300px;
}
.container{
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 175px;
}
.line{
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: #5B2AED;
    transition: 1s;
    &_first{
        left: 50%;
    }
    &_second{
        left: 1%;
    }
    &_third{
        left: 80%;
    }
}
.whatsapp-btn{
    display: flex;
    background: #4F15F3;
    border-radius: 9px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
.page{
    background: url(/img/shadow.png) no-repeat 700px center, url(/img/shadow.png) no-repeat -306px center,#4C1DD2;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
.page__plus-icon{
    position: absolute;
    animation: scale-elem 2s infinite;
    z-index: 2;
    &:nth-child(1){
        width: 14px;
        height: 14px;
        top: 200px;
        left: 200px;
    }
    &:nth-child(2){
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        animation-delay: .5s;
    }
    &:nth-child(3){
        width: 9px;
        height: 9px;
        bottom: 100px;
        left: 230px;
        animation-delay: 1s;
    }
}
.page__ellipse-icon{
    width: 10px;
    height: 10px;
    position: absolute;
    animation: scale-elem 2s infinite;
    left: 45%;
    top: 150px;
}
@keyframes scale-elem{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.header__nav-wrapper{
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 175px;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
.header__nav{
    flex-basis: 686px;
}
.header__logo{
    width: 49px;
    position: absolute;
    left: -90px;
}
.header__contacts{
    flex-basis: 384px;
}
.nav{
    display: flex;
    align-items: center;
    position: relative;
    &__menu{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
    &__burger{
        width: 35px;
        position: absolute;
        z-index: 6;
        top: -80px;
        right: 15px;
        transition: 1s;
        cursor: pointer;
    }
}
.menu{
    &__item{
        flex-grow: 1;
    }
    &__link{
        color: #fff;
        font-size: 1rem;
    }
}
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    &__phone{
        font-family: $thinFont;
        font-size: 1.125rem;
        color: #fff;
        white-space: nowrap;
    }
    &__whatsapp{
        width: 177px;
        height: 48px;
        padding: 0 25px;
    }
}
.about-company{
    &__form{
        width: 100%;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        gap: 50px;
        position: relative;
        z-index: 2;
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        margin: 0 60px 0 0;
    }
    &__title{
        font-size: 3rem;
        line-height: 1.5em;
        font-family: $thinFont;
        color: #fff;
    }
    &__text{
        font-family: $thinFont;
        font-size: 1.5rem;
        line-height: 1.3em;
        color: #FFFFFF;
        margin: 18px 0 30px 0;
    }
    &__charts{
        max-width: 427px;
        width: 50%;
        min-width: 200px;
        padding-bottom: 11%;
        position: relative;
    }
}
.form{
    display: flex;
    flex-wrap: wrap;
    &__phone{
        width: 284px;
        height: 56px;
        padding: 0 0 0 40px;
        border-radius: 12px;
        background: #FFFFFF;
        font-size: 1.125rem;
        color: #BCBCBC;
        border: 0px;
        margin: 0 21px 21px 0;
    }
    &__button{
        width: 335px;
        height: 56px;
        border-radius: 12px;
        background: #F86161;
        font-family: $regularFont;
        font-size: 1.125rem;
        text-align: center;
        color: #FFFFFF;
        border: 0px;
    }
}
.charts{
    &__wrapper{
        border-radius: 30px;
        background: #F86161;
        position: relative;
        z-index: 2;
        padding-top: calc(100%*1.36);
    }
    &__girl{
        height: 115%;
        position: absolute;
        bottom: 0;
        right: -10px;
    }
    &__rectangle{
        position: absolute;
        bottom: 11px;
        left: 0;
        width: 45%;
    }
    &__graph{
        position: absolute;
        background: #fff;
        border-radius: 25px;
        padding: 6%;
        bottom: -21%;
        right: -14%;
        width: 74%;
    }
    &__panel{
        background: #121B30;
        border-radius: 21px;
        color: #fff;
    }
    &__points{
        position: absolute;
        top: -9%;
        right: -13%;
        width: 26%;
    }
}
.graph-chart{
    width: 77%;
    &__head{
        display: flex;
        align-items: center;
        margin: 0 0 7% 0;
    }
    &__logo{
        width: 21%;
        margin: 0 7% 0 0;
    }
    &__title{
        font-family: $mediumFont;
        font-size: 1.125rem;
    }
    &__img{
        width: 100%;
    }
}
.panel{
    display: grid;
    display: -ms-grid;
    gap: 13px;
    position: absolute;
    padding: 5%;
    transition: 1s;
    &_row{
        grid-template-areas: 'img count'
                             'img text';
        -ms-grid-columns: auto 8% auto;
        -ms-grid-rows: 1fr 1fr;
        max-width: 185px;
        width: 67%;
        min-width: 100px;
    }
    &_column{
        grid-template-areas:'img'
                            'count'
                            'text' ;
        justify-items: center;
        -ms-grid-columns: auto 8% auto 8% auto;
        width: 37%;
    }
    &__img{
        grid-area: img;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        &_center{margin: 0 auto;}
    }
    &__count{
        font-size: 1.375rem;
        grid-area: count;
        -ms-grid-column: 5;
        -ms-grid-row: 1;
        &_center{text-align: center;}
    }
    &__text{
        font-size: .75rem;
        grid-area: text;
        -ms-grid-column: 5;
        -ms-grid-row: 5;
        &_center{text-align: center;}
    }
    &_position_top{
        top: -30px;
        left: -50px;
    }
    &_position_middle{
        top: 30%;
        right: -39%;
    }
}
.panel-column{
    display: grid;
    display: -ms-grid;
    -ms-grid-rows: auto 8% auto 8% auto;
    &__img{
        -ms-grid-row: 1;
        margin: auto;
    }
    &__count{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        text-align: center;
        width: 100%;
    }
    &__text{
        text-align: center;
        -ms-grid-row: 9;
        -ms-grid-column: 1;
        width: 100%;
    }
}
@media(max-width: 1199px){
    .container{
        padding: 0 13%;
    }
    .menu__item{
        flex-grow: 0;
    }
    .contacts__phone{
        font-size: 1rem;
    }
    .header{
        &__nav-wrapper{
            height: 120px;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            padding: 0 13%;
        }
        &__contacts{
            flex-basis: 0;
        }
    }
   .about-company{
        &__container{
            padding-top: 50px;
        }
        &__info{
            justify-content: flex-start;
            padding-bottom: 15px;
        }
        &__title{
            font-size: 2.5rem;
            line-height: 1.3em;
        }
        &__text{
            font-size: 1.2rem;
        }
        &__charts{
            // min-width: 285px;
        }
    }
    .form{
        &__phone{
            width: 250px;
            font-size: 1rem;
        }
        &__button{
            width: 300px;
            font-size: 1rem;
        }
    }
    .charts{
        &__points{
            top: -6%;
        }
    }
    .graph-chart__title{font-size: .9rem;}
    .panel{
        gap: 8px;
        &__img{
            width: 45px;
        }
        &__count{
            font-size: 1.1rem;
        }
        &__text{
            font-size: .65rem;
        }
        &_column{
            min-width: 100px;
        }
        &_row{
            min-width: 185px;
        }
    }
}
@media(max-width: 861px){
    .container{
        padding: 0 15px;
    }    
    .header__nav{
        &-wrapper{
            padding: 0 15px;
        }
    }
    .header__logo{
        position: static;
        left: 0;
        margin: 0 15px 0 0;
    }
    .about-company{
        &__container{
            flex-direction: column-reverse;
            padding-top: 50px;
        }
        &__charts{
            width: 227px;
            align-self: center;
        }
    }
}
@media( max-width: 515px){
    .header__nav-wrapper{height: 100px;}
    .header__nav{max-height: 60px;}
    .nav{
        &__menu{
            position: absolute;
            top: 10px;
            left: calc(100% + 15px);
            transition: 1s;
            flex-direction: column;
            border-radius: 10px 0 0 10px;
            padding: 5px 15px;
            z-index: 10;
            background-color: #4d4da8;
            right: -15px;
            &_show{
                left: 110px;
            }
        }
        &__burger{
        top: 12px;
        left: calc(100% - 50px);
        transition: 1s;
            &_show{
                left: 75px;
            }
        }
    }
    .menu__item{
        padding: 5px 0;
    }
    .about-company__charts{
        max-width: 227px;
        width: 59%;
    }
    .panel{
        padding: 4%;
        &__img{
            width: 25px;
            height: 25px;
        }
        &__count{
            font-size: .8rem;
        }
        &__text{
            font-size: .5rem;
        }
        &_row{
            min-width: 100px;
            right: -22%;
        }
        &_column{
            min-width: 75px;
        }
    }
    .panel-column__text{width: 60px;}
    .contacts__phone{
        font-size: .8rem;
    }
    .contacts__whatsapp{
        width: 135px;
        height: 40px;
        padding: 0 15px;
    }
    .whatsapp-btn__text{
        font-size: .8rem;
    }
    .form{
        &__phone{
            height: 40px;
            font-size: .8rem;
            padding: 0 0 0 20px;
        }
        &__button{
            height: 40px;
            font-size: .8rem;
        }
    }
    .panel_position_top{left: -22%;}
    .charts__graph{right: -22%;}
    .graph-chart__title{font-size: .7rem;}
    .page__plus-icon:nth-child(1){left:25px}
    .page__plus-icon:nth-child(2){left:auto;right: 20px;}
    .page__plus-icon:nth-child(3){bottom: 125px;}
    .page__ellipse-icon{left: 5%; top: 362px}
}